## This notebook will be updated after few iterations!!!

In [1]:
import pandas as pd
import numpy as np
from IPython.display import display

In [2]:
# loading the fec13 dataset    
df = pd.read_csv('data/fer2013/fer2013.csv', sep=',')

df_original = df.copy(deep=True)

display(df.sample(10))
display(df.info())

       emotion                                             pixels        Usage
30699        2  32 45 58 62 63 46 35 46 60 79 98 115 131 143 1...   PublicTest
994          2  242 250 154 76 80 69 57 53 50 59 55 45 46 49 5...     Training
14782        4  74 74 75 76 76 74 78 60 34 33 25 25 23 21 22 2...     Training
35781        6  80 80 80 82 83 84 81 83 83 64 27 28 34 8 3 3 3...  PrivateTest
19217        0  238 238 242 147 155 191 200 199 199 204 208 21...     Training
21731        0  171 170 171 170 169 165 166 166 162 160 160 15...     Training
26780        6  74 71 88 88 66 67 91 70 64 73 77 74 76 77 84 8...     Training
20021        3  73 74 75 75 101 126 150 172 181 161 151 153 15...     Training
28067        6  218 219 221 222 223 222 228 207 91 13 15 14 14...     Training
1797         5  25 40 26 38 42 16 19 71 75 78 119 107 123 137 ...     Training

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35887 entries, 0 to 35886
Data columns (total 3 columns):
emotion    35887 non-null int64
pixels     35887 non-null object
Usage      35887 non-null object
dtypes: int64(1), object(2)
memory usage: 841.2+ KB

None

In [3]:
df['Usage'].value_counts()

Training       28709
PrivateTest     3589
PublicTest      3589
Name: Usage, dtype: int64

In [4]:
a = np.array([5,6,7])
a

array([5, 6, 7])

In [5]:
df_train = df.loc[df['Usage'] == 'Training']
df_train = df_train.drop(columns=['Usage'])

m = df_train['pixels'][10]

x = np.fromstring(m, dtype=int, sep=' ')

for i in range(df_train.shape[0]):
    df_train['pixels'][i] = np.fromstring(df_train['pixels'][i], dtype=int, sep=' ')

#df_test = df.loc[df['Usage'] == 'PublicTest']

#display(df_train.sample(5))
#display(df_train.info())
#display(df_test.sample(5))
#display(df_test.info())

df_train.sample(5)

/home/kishor/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

       emotion                                             pixels
16979        6  [106, 105, 102, 107, 113, 116, 121, 126, 125, ...
11372        5  [210, 214, 208, 215, 218, 220, 206, 183, 164, ...
19423        0  [94, 91, 77, 66, 56, 53, 51, 45, 47, 49, 40, 4...
21945        4  [31, 61, 123, 127, 131, 135, 138, 140, 136, 13...
16813        5  [57, 67, 81, 73, 5, 5, 10, 30, 34, 25, 37, 73,...